#
# User defined Makefile options for the Video Disk Recorder
#
# Copy this file to 'Make.config' and change the parameters as necessary.
#
# See the main source file 'vdr.c' for copyright information and
# how to reach the author.
#
# $Id: vdr-make-1.7.11.config,v 1.2 2011/01/01 20:54:48 herrend Exp $

### The C compiler and options:

CC       = gcc
CFLAGS   = -O2 -march=pentium3 -mtune=pentium3 -Wall -ffast-math -fexpensive-optimizations

CXX      = g++
CXXFLAGS = -O2 -march=pentium3 -mtune=pentium3 -Wall -Woverloaded-virtual -Wno-parentheses -ffast-math -fexpensive-optimizations

ifdef PLUGIN
CFLAGS   += -fPIC
CXXFLAGS += -fPIC
DEFINES += -D_FILE_OFFSET_BITS=64 -D_LARGEFILE_SOURCE -D_LARGEFILE64_SOURCE
endif

### The directory environment:

#DVBDIR   = /root/DVB/linux
MANDIR   = /usr/local/man
BINDIR   = /usr/local/bin

LOCDIR   = /usr/local/share/locale
PLUGINDIR= ./PLUGINS
PLUGINLIBDIR= $(PLUGINDIR)/lib
VIDEODIR = /video
CONFDIR  = $(VIDEODIR)

### The remote control:

LIRC_DEVICE = /dev/lircd
RCU_DEVICE  = /dev/ttyS1

## Define if you want vdr to not run as root
#VDR_USER = vdr

### You don't need to touch the following:

ifdef DVBDIR
INCLUDES += -I$(DVBDIR)/include 
endif
